/*  Adopted from http://darwinports.opendarwin.org/ */

body {
	background: #E8EFF0;
        font: serif;
}

ol, ul {
    padding-left: 1rem;
}

a {
    color: #006666;
    text-decoration: none;
    border-bottom: 1px dotted #006666;
}

a:visited {
    color: #008888;
}

a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #c63;

        background-color: #e8eff0;
        border-radius: 2px;
        color: #006666;
}

p {
	margin: 10px 0 1em 0;
	line-height: 20px;
}

.important {
    font-weight: bold;
}

#main {
	background: #fff;
	border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
        margin-top: 2rem;
        margin-bottom: 2rem;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
}


td {
  padding-left: 2ex;
  padding-right: 2ex;
}

.talk {
    border: 1px solid #bbb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    margin-bottom: 2rem;
}

.talk .title {
    font-weight: bold;

    font-size: 150%;
}

.talk .authors {
    font-style: italic;
}